altair
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
protobuf
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
streamlit
streamlit-option-menu
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
wordcloud
xgboost
zipp
